<h4 style="margin-left:500px;margin-top: 50px;margin-bottom: 50px;">All Apps</h4>
<div class="row">
    <div class="col-md-6" *ngFor="let new of Aboutus; let i=index">
        <div class="card">
            <img class="card-img-top" src="https://source.unsplash.com/random/301x200" alt="">
            <div class="card-body">
                <h4 class="card-title">Card Title {{new.mission}}</h4>
                <p class="card-text">{{new.about}} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Illo, quas.</p>
                <a class="btn btn-success btn-block" href="#">Read More</a>
            </div>
        </div>
    </div>
</div>