<!-- Footer
    ================================================= -->


    <div class="row" style="margin-top:150px ;background-color: rgb(114, 94, 45);">
    
        <div style="width: 150px;margin-left: 400px;">
           <a href="#" style="color:lawngreen;">For individuals</a>
           
        </div>
        <div style="width: 150px;">
            <a href="#" style="color:lawngreen;">For businesses</a>
        
        </div>
        <div style="width: 150px;" >
            <a href="#" style="color:lawngreen;">About</a>
          
        </div>
        <div style="width: 150px;">
            <a href="" style="color:lawngreen;">Contact Us</a>    
        </div>
        <div class="copyright" style="margin-left: 500px;">
            <p>© 2022 MineRev | All Rights Reserved</p>
        </div>
        <div class="copyright" style="margin-left: 500px;">
            <p>All the Logos, Trademarks, and Images belong to their respective owners.</p>
        </div>
    </div>
